@font-face {
  font-family: myFont;
  src: url(../assets/fonts/backto1982.otf);
}

@font-face {
  font-family: titleFont;
  src: url(../assets/fonts/Blox2.ttf);
}

@font-face {
  font-family: UIfont;
  src: url(../assets/fonts/dpcomic.ttf);
}

.hidden {
  display: none;
}

body,
html {
  height: 100%;
  image-rendering: pixelated;
}

body {
  background-image: url(../assets/images/background.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

.title {
  font-family: titleFont;
  margin-top: 10px;
  font-size: 150px;
  text-align: center;
  color: rgb(173, 15, 15);

}

.choose-character {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: myFont;
  color: rgb(5, 3, 3);
  background-image: url(../assets/images/NicePng_old-scroll-png_8153991.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 1700px;
  margin: 30px;
  margin-top: 0px;
  padding: 200px;
}

.create-character h1 {
  margin-bottom: px;
}

.classes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;

}

.warrior img {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100px;
  height: auto;
  transition: 0.5s all ease-in-out;
}

.warrior:hover img {
  transform: scale(1.2);
}

.mage img {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 120px;
  height: auto;
  transition: 0.5s all ease-in-out;
}

.mage:hover img {
  transform: scale(1.2);
}

.rogue img {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 120px;
  height: auto;
  transition: 0.5s all ease-in-out;
}

.rogue:hover img {
  transform: scale(1.2);
}

#enemy-info {
  display: flex;
  justify-content: space-evenly;
  color: red;

  font-family: UIfont;
}

.monster-images {
  text-align: center;
}

.potion-images {
  text-align: center;
}

.weapon-images {
  text-align: center;
}

figcaption {
  font-size: x-large;
  color: #ffffff;
}

#combat-buttons button {
  width: 250px;
  background: radial-gradient(circle, #8b0000, #8b0000);
  letter-spacing: 2px;
  border-radius: 2px;
  font-family: UIfont;
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  text-shadow: 0 1px 3px #000;

  box-shadow: inset 0px 0px 5px 3px rgba(1,1,1,0.3);
}

.buttons {
  text-align: center;
}

#pick-up-button{
  width: 250px;
  background: radial-gradient(circle, #8b0000, #8b0000);
  letter-spacing: 2px;
  border-radius: 2px;
  font-family: UIfont;
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  text-shadow: 0 1px 3px #000;
  box-shadow: inset 0px 0px 5px 3px rgba(1,1,1,0.3);
}

#continue-button {
  width: 250px;
  background: radial-gradient(circle, #8b0000, #8b0000);
  letter-spacing: 2px;
  border-radius: 2px;
  font-family: UIfont;
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  text-shadow: 0 1px 3px #000;
  box-shadow: inset 0px 0px 5px 3px rgba(1,1,1,0.3);
}

#hero-message {
  font-family: UIfont;
  color: rgb(255, 255, 255);
}

.bottom-ui {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-grow: 1;
  margin-top: auto;
  background-image: url(../assets/images/hannah-oates-brick-wall-wip.jpg);
  padding-top: 20px;
  color: rgb(255, 255, 255);
}

.bottom-ui h1, h3 {
  font-family: UIfont;
}

/* setting item descriptions */

.weapon-images p {
    font-family: UIfont;
    font-size: 50px;
    color: #ffffff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.potion-images p {
    font-family: UIfont;
    font-size: 50px;
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/* setting sizes for gif assets */
#warrior-img {
  width: 100px;
  height: auto;
}

#mage-img {
  width: 120px;
  height: auto;
}

#rogue-img {
  width: 120px;
  height: auto;
}


#slime {
  width: 375px;
  height: auto;
}

#demon {
  width: 400px;
  height: auto;
}

#goblin {
  width: 300px;
  height: auto;
}

#troll {
  width: 500px;
  height: auto;
}

#vampire {
  width: 700px;
  height: auto;
}

#dragon {
  width: 600px;
  height: auto;
}

#cthulu {
  width: 550px;
  height: auto;
}

#strength {
  width: 100px;
  height: auto;
}

#magic {
  width: 100px;
  height: auto;
}

#swift {
  width: 200px;
  height: auto;
}

#Health-Potion {
  width: 200px;
  height: auto;
}

#staff {
  width: 200px;
  height: auto;
}

#dagger {
  width: 150px;
  height: auto;
}